In [3]:
import pandas as pd

patient = pd.read_csv("../data_clean/patient_info_clean.csv")
visit   = pd.read_csv("../data_clean/visit_records_clean.csv")
billing = pd.read_csv("../data_clean/billing_info_clean.csv")

visit_patient_left = pd.merge(
    visit,
    patient,
    on="patient_id",
    how="left"
)

visit_patient_left.head()

,visit_id,patient_id,visit_date,department,diagnosis,full_name,age,gender
0,VK2000,BN104,2024-01-20,Nhi,Tieu Chay,Nguyen Van A,30.0,F
1,VK2001,BN106,2024-02-29,San,Dau Bung,Hoang Van E,25.0,F
2,VK2002,BN112,2024-03-04,San,Tieu Chay,Hoang Van E,25.0,F
3,VK2003,BN135,2024-01-28,Ngoai,Chua Ro,Nguyen Van A,30.0,F
4,VK2004,BN129,2024-04-19,Ngoai,Dau Bung,Nguyen Van A,25.0,M

In [12]:
visit_patient_billing_left = pd.merge(
    visit_patient_left,
    billing,
    on="visit_id",
    how="left"
)

visit_patient_billing_inner = pd.merge(
    visit_patient_left,
    billing,
    on="visit_id",
    how="inner"
)

print(visit_patient_billing_left.shape)
print(visit_patient_billing_inner.shape)

(120, 10)
(63, 10)