ĐỌC DỮ LIỆU

In [6]:
import pandas as pd

In [7]:
patients = pd.read_csv("../data_clean/patient_info_clean.csv")
visits = pd.read_csv("../data_clean/visit_records_clean.csv")
billing = pd.read_csv("../data_clean/billing_info_clean.csv")

In [8]:
patients.head()

  patient_id     full_name   age gender
0      BN100      Le Van C  30.0      F
1      BN101   Hoang Van E  35.0      M
2      BN102    Pham Thi D  50.0      M
3      BN103      Le Van C  25.0      F
4      BN104  Nguyen Van A  30.0      F

MERGE DỮ LIỆU

In [9]:
df = visits.merge(patients, on="patient_id", how="left")
df = df.merge(billing, on="visit_id", how="left")

df.head()

,visit_id,patient_id,visit_date,department,diagnosis,full_name,age,gender,total_fee,insurance_coverage
0,VK2000,BN104,2024-01-20,Nhi,Tieu Chay,Nguyen Van A,30.0,F,NaN,NaN
1,VK2001,BN106,2024-02-29,San,Dau Bung,Hoang Van E,25.0,F,12000000.0,0.8
2,VK2002,BN112,2024-03-04,San,Tieu Chay,Hoang Van E,25.0,F,NaN,NaN
3,VK2003,BN135,2024-01-28,Ngoai,Chua Ro,Nguyen Van A,30.0,F,NaN,NaN
4,VK2004,BN129,2024-04-19,Ngoai,Dau Bung,Nguyen Van A,25.0,M,2000000.0,0.5

CHIA NHÓM TUỔI

In [11]:
bins = [0, 18, 40, 60, 120]
labels = ["<18", "18-40", "40-60", ">60"]

df["age_group"] = pd.cut(df["age"], bins=bins, labels=labels)
df[["age", "age_group"]].head()

    age age_group
0  30.0     18-40
1  25.0     18-40
2  25.0     18-40
3  30.0     18-40
4  25.0     18-40

Pivot 1 – Chi phí trung bình theo khoa và nhóm tuổi

In [17]:
pivot_fee = pd.pivot_table(
    df,
    values="total_fee",      # dữ liệu cần tổng hợp
    index="department",      # xoay theo khoa (dòng)
    columns="age_group",     # xoay theo nhóm tuổi (cột)
    aggfunc="mean",          # hàm tổng hợp: trung bình
    observed=True            # tránh warning
)
pivot_fee

age_group         <18         18-40      40-60
department
Ngoai       2000000.0  3.958333e+06        NaN
Nhi               NaN  5.964286e+06  2000000.0
Noi         6000000.0  6.611111e+06  3125000.0
San               NaN  3.857143e+06  2500000.0